<div class="bg-main">
    <div class="main home-boy">
        <div class="inner">
			<div class="white-border">
				
			</div>
		</div>
    </div>
</div>
<div id="connectionError" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<div class="white-border">
					<div class="inner">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body center popup-register">
							<h3>No organization found</h3>
							<div class="center">
								<div class="bbtn">
									<div class="inner"><a data-dismiss="modal">QUIT</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>