<div class="outer sign-ins">

	<div class="white-border erroe-page">
		<div class="white-bg "> 
       <div class="for-for">
				<div *ngIf="message=='nopath'" class="center">
					<p>Organization not recognized.</p>
					<p>Please check browser address or contact Ripple Effects.</p>
					<p>888.259.6618 (8:00am - 5:00pm PST)</p>
					<p>support@rippleeffects.com</p>
				</div>
				<div *ngIf="message=='error'" class="center">
					<p>This subscription has expired</p>
					<p>Please contact Ripple Effects.</p>
					<p>888.259.6618 (8:00am - 5:00pm PST)</p>
					<p>support@rippleeffects.com</p>
				</div>
			
				
			</div>
    </div>
	</div>
</div>	